<app-navigation></app-navigation>
<div class="home container-fluid">
  <div class="overlay">
    <section
      class="her-wrap js-fullheight"
      data-section="home"
      data-stellar-background-ratio="0.5"
    >
      <div class="container">
        <div
          class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
          data-scrollax-parent="true"
        >
          <div class="content col-md-6">
            <div class="subh">
              <span class="subheading">Welcome to MedVault by Team Horizon</span>
              <h1 class="mb-4"></h1>
              <figure class="text-start">
                <blockquote class="blockquote">
                  <p>
                   
                    Medical Encrypted Data Vault for Authorized User Ledger Technology:  Our
                    cutting-edge decentralized platform designed to revolutionize the management of medical records. Utilizing blockchain technology, it offers a highly secure, encrypted solution that puts patients in control of their data. With MED VAULT, patients can manage access to their medical information, ensuring privacy and security while granting authorized healthcare providers quick and seamless access to verified, immutable records. This ensures trust, transparency, and efficiency in the sharing of critical healthcare data.
                  </p>
                  <p>
                    
                    <a
                      class="mx-2"
                      href=""
                      target="_blank"
                    >
                      
                    </a>
                  </p>
                </blockquote>
                <figcaption class="blockquote-footer">Yashas and Priyanka</figcaption>
              </figure>
              <p class="mb-4"></p>
              <p>
                <a
                  href="#appointment"
                  class="btn btn-primary py-3 px-4 rounded-pill"
                  aria-disabled="true"
                >
                  Make an appointment
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
